
<div id="support">
    <app-carousel></app-carousel>
    <div class="container-main">
        <div class="list-items">
            <div class="item mt-3 md:flex md:items-center mb-2">
                <div class="section-left md:w-2/3">
                    <div class="big-title">
                        Câu hỏi - Câu trả lời thường gặp
                    </div>
                    <div class="des">
                        Chuyên mục cập nhật những câu hỏi sinh viên thường gặp trong quá trình học tập, rèn luyện dưới mái trường Kinh tế Huế. Trong trường hợp có những câu hỏi mới, chưa có trong dữ liệu FAQ, bạn có thể đề xuất thêm và Ban quản trị sẽ xét duyệt, trả lời bổ sung trên chuyên mục.
                    </div>
                    <div class="search">
                        <button>Tra Cứu</button>
                    </div>
                </div>
                <div class="section-right md:w-1/3">
                    <img src="https://support.hce.edu.vn/img/landingpage/faq_landingpage.png" alt="">
                </div>
            </div>

            <div class="item mt-3 md:flex md:flex-row-reverse md:items-center mb-2">
                
                
                <div class="section-left md:w-2/3">
                    <div class="big-title">
                        Đội ngũ hỗ trợ
                    </div>
                    <div class="des">
                        Chuyên mục cung cấp thông tin cán bộ, chuyên viên hỗ trợ theo từng nhóm chức năng: Đào tạo, Tài chính, Công tác sinh viên, các khoa... giúp sinh viên tiện liên hệ, được hỗ trợ khi cần thiết.
                    </div>
                    <div class="search">
                        <button>Liên Hệ</button>
                    </div>
                </div>

                <div class="section-right md:w-1/3">
                    <img src="https://support.hce.edu.vn/img/landingpage/contact_landingpage.png" alt="">
                </div>
            </div>

            <div class="item mt-3 md:flex md:items-center mb-2">
                <div class="section-left md:w-2/3">
                    <div class="big-title">
                        Văn bản quy định
                    </div>
                    <div class="des">
                        Bao gồm các văn bản quy định áp dụng đối với sinh viên trường Đại học Kinh tế Huế: Quy định hoạt động CVHT, Quy định ứng xử của sinh viên, Hướng dẫn sử dụng hệ thống Tín chỉ.
                    </div>
                    <div class="search">
                        <button>Tra Cứu</button>
                    </div>
                </div>
                <div class="section-right md:w-1/3">
                    <img src="https://support.hce.edu.vn/img/landingpage/document_landingpage.png" alt="">
                </div>
            </div>

            <div class="item mt-3 md:flex md:flex-row-reverse md:items-center mb-2">
                
                
                <div class="section-left md:w-2/3">
                    <div class="big-title">
                        Thông tin học bổng
                    </div>
                    <div class="des">
                        Dựa trên các quỹ học bổng thường xuyên cấp cho sinh viên trường Đại học Kinh tế Huế, sinh viên có thể xem trước thông tin, điều kiện, mức hỗ trợ các năm trước để học tập, rèn luyện, chuẩn bị các điều kiện nếu lựa chọn học bổng nào để nộp xét.
                    </div>
                    <div class="search">
                        <button>Tra Cứu</button>
                    </div>
                </div>

                <div class="section-right md:w-1/3">
                    <img src="https://support.hce.edu.vn/img/landingpage/scholarship_landingpage.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
