<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
<div class="login-wrap-animation"  *ngIf="loadingService.loading$ | async">
    <div class="login-wrap-animation__inner">
        <div class="login-wrap-animation__inner_gear-1"></div>
        <div class="login-wrap-animation__inner_gear-2"></div>
        <div class="login-wrap-animation__inner_gear-3"></div>
    </div>
</div>

<p-toast position="bottom-right" [baseZIndex]="999999999"></p-toast>
<p-confirmDialog class="confirm-dialog"></p-confirmDialog>