/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* tailwincss */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer no-tailwindcss {
    /* This layer is disabled */
    @variants {
      .no-tailwindcss {
        all: unset;
      }
    }
  }




:root {
    --main-color: #006cb5;
    --main-color-hover: #f7aa23;
    --blur-color-sm:#637381;
    --border-color-blur: #f1f3f4;
}

.main-color{
    color: var(--main-color);
}
.bg-main-color{
    background-color: var(--main-color);
}

.nz-disable-td{
    display: none;
}


.container-main{

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 575px){
    .container-main{
        max-width: 100%;
    }
}
@media (min-width: 576px){
    .container-main{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container-main{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container-main{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container-main {
        max-width: 1140px;
    }
}

.drawer-menu-nav-header li{
    margin-bottom: 10px !important;
}









